*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	font-family: 'Ubuntu', sans-serif;

}

.main-home{
	background: url("../images/photography-main.jpg") no-repeat;
	height: auto;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}

.main-home .col-md-6 h2{
	margin: 26% 15%;
}

.about-info{
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
}

.staff-member{
	width: 100%;
	height: auto;
}

.staff-img:hover{
	background-color: #E5B112;
	opacity: 0.5;
}

.projects{
	background-color: #fcbe32;
	height: 375px;

}