*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	font-family: 'Ubuntu', sans-serif;

}

.main-home{
	background: url("../images/photography-main.jpg") no-repeat;
	height: 475px;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}

.main-home .col-md-6 h2{
	margin: 26% 15%;
}

.quienes-somos{
	background-color: #fcbe32;
	color: #000000;
	height: 375px;

}
.projects{
	background-color: #000000;
	color: #FFFFFF;
	height: 375px;

}
.servicios{
	background-color: #fcbe32;
	color: #000000;	
	height: 375px;

}
.staff{
	background-color: #000000;
	color: #FFFFFF;	
	height: 375px;

}
.contacto{
	background-color: #fcbe32;
	color: #000000;
	height: 375px;


}
